<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>abt page</title>
    </head>
    <body>
        <h1>About page</h1>
        <p>so what should i say to00 all</p>
    </body>
</html>